@using PatientFloorPlan.API.Models

@{
    ViewBag.Title = "Index";
}

@{
    var ptOrder = (PatientOrder)ViewData["PatientOrder"];
}

<div class="container">
    <h2>Patient Order</h2>
    <div class="table-responsive">
        <h3>OneDay</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ARCIM_Desc</th>
                    <th>CTUOM_Code</th>
                    <th>OEORI_PhQtyOrd</th>
                    <th>PHCIN_Desc1</th>
                </tr>
            </thead>
            <tbody>
               @foreach (var item in ptOrder.OneDay)
               {
                <tr>
                    <td>@item.ARCIM_Desc</td>
                    <td>@item.CTUOM_Code</td>
                    <td>@item.OEORI_PhQtyOrd</td>
                    <td>@item.PHCIN_Desc1</td>
                </tr>
               }
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <h3>Continue</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ARCIM_Desc</th>
                    <th>CTUOM_Code</th>
                    <th>OEORI_PhQtyOrd</th>
                    <th>PHCIN_Desc1</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ptOrder.Continue)
                {
                    <tr>
                        <td>@item.ARCIM_Desc</td>
                        <td>@item.CTUOM_Code</td>
                        <td>@item.OEORI_PhQtyOrd</td>
                        <td>@item.PHCIN_Desc1</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

